*{
    padding: 0;
    margin: 0;
    /* background-repeat: no-repeat;
    background-image:url("fondo.jpg");
    background-size:cover;
    background-attachment: fixed; */
    
    
}

form{
    width: 300px;
    height: 350px;
    border-radius: 15px;
    border: 1.5px solid gray;
    padding: 50px;
    margin: auto;
    box-shadow: 4px 4px gray;
}
.div_Contenedor{
    border-radius: 15px;
    border:2px solid rgb(79, 78, 78);
    box-shadow: 4px 4px gray;
    margin: auto;
    width: 250px;
    height: 310px;
    padding:25px;

}
input{
    border-radius: 15px;
    border:2px solid rgb(79, 78, 78);
   
}
#btn_sumar, #btn_restar, #btn_multiplicar, #btn_dividir {
    border-radius: 15px;
    border:2px solid rgb(79, 78, 78);
    box-shadow: 4px 4px gray;
    width: 50px;
    height: 50px ;
    margin: auto;
    font-size: 30px;
}